<h1>
  Edit milk #<%= @milk.id %>
</h1>

<hr>

<form action="/update_milk/<%= @milk.id %>" method="post">


  <div class="form-group">
    <label for="date_milk_expires">
      Date milk expires
    </label>

    <input type="text" id="date_milk_expires" name="date_milk_expires" class="form-control" value="<%= @milk.date_milk_expires %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @milk.description %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update milk
  </button>
</form>

<hr>

<a href="/milks">
  Go back
</a>
