<h1>
  Add a new milk
</h1>


<hr>

<form action="/create_milk" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="date_milk_expires">
      Date milk expires
    </label>

    <input type="text" id="date_milk_expires" name="date_milk_expires" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create milk
  </button>
</form>

<hr>

<a href="/milks">
  Go back
</a>
